[submodule "azure-c-shared-utility"]
	path = azure-c-shared-utility
	url = https://github.com/tiropp/azure-c-shared-utility.git
[submodule "azure-uamqp-c"]
	path = azure-uamqp-c
	url = https://github.com/tiropp/azure-uamqp-c.git
